/*
paleta de colores
https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15
https://coolors.co/1b4332
https://coolors.co/52b788
https://coolors.co/081c15
https://ecoalf.com/en-int
*/
header {color:#1b4332;padding: 1rem 0;text-align: center;}
h1 {color: #52b788; font-size: 2rem;}
p {color: #081c15;font-size: 20px;}
ul {list-style: none;}
nav ul {color:#1b4332;list-style: none;line-height: 1.5;}
nav ul li a {color:#1b4332; text-decoration: none;font-weight: bold;}
nav ul li a:hover {text-decoration: underline;}
nav ul li div a {color:rgb(0, 195, 255);}
.caja-roja {background-color:#1b4332 ;color: white;}
.caja-verde {background-color:#1b4332 ;color: white;}
footer {background-color:#52b788;}

body {
    font-family: "Glass Antiqua", cursive; color:#1b4332 ;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
    background-color: #f9f9f9;
    
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}
.search-bar {
    display: flex;
    align-items: center;
}
.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
}
.search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
}
/* Google forms iframe styles */
section iframe {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa todo el alto del contenedor */
  min-height: 600px; /* Altura mínima para evitar que sea
  demasiado pequeño */
  border: none; /* Elimina el borde */
  border-radius: 8px; /* Opcional: redondea las esquinas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: agrega
  una sombra */ }

/* Mi galeria con boton para pasar las imagenes */
.contenedor-galeria {
  display: flex;
  place-items: center;
  width: 545px; 
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 545px;
}

.contenedor-imagen {
  position: relative;
  left: 0;
  width: 545px;
  border-radius: 5px;
  height: 410px;
  overflow: hidden;
  background-color:#1b4332; 
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
  flex: 0.25;
}

.contenedor-imagen img {
  height: 410px;
  width: 545px;
  object-fit: cover;
}

.contenedor-imagen:hover {
  flex: 2;
  cursor: pointer;
  border-radius: 8px;
}

/* Estilo para el botón interactivo */
button#show-message {
  background-color:#1b4332;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  /* Estilo para el botón interactivo */
button#show-message:hover {
  background-color: #52b788;
  }
  /* Estilo para el mensaje dinámico */
  #dynamic-message {
  display: none; /* Oculto por defecto */
  margin-top: 1rem;
  color: #52b788;
  font-weight: bold; }